<section class="dark-bg bg-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 text-center">
                <img class="img-fluid img-thumbnail" src="./assets/images/4.jpeg" alt="">
            </div>
            <div class="col-12 col-md-6 px-1 px-md-2 px-lg-5 pt-5 pt-md-0 text-center">
                <h1 class="display-1 fw-lighter pb-3 pb-md-5">
                    ¡Gracias!
                    <i class="bi bi-hearts" scrollAnimation
                    [componentPosition]="4"
                    [inAnimationData]="{ name: 'colored', delay: 150, params: ['#D7AE00']}"
                    [outAnimationData]="{ name: 'colored', delay: 0, params: ['#FFFFFF']}"></i>
                </h1>
                <h1 class="fw-lighter">Por siempre estar ahí,</h1>
                <h1 class="display-5 fw-light">Cada vez que te necesitabamos.</h1>
            </div>
        </div>
    </div>
</section>