<section class="light-bg bg-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 px-1 px-md-2 px-lg-5 pb-5 pb-md-0 text-center">
                <h1 class="display-1 fw-lighter pb-3 pb-md-5">¡Gracias!
                    <i class="bi bi-flower1"></i>
                </h1>
                <h1 class="fw-lighter">Por amarnos sin medida,</h1>
                <h1 class="display-5 fw-light">Y habernos enseñado a siempre dar lo mejor de nosotros.</h1>
            </div>
            <div class="col-12 col-md-6 text-center">
                <img class="img-fluid img-thumbnail" src="./assets/images/3.jpeg" alt="">
            </div>
        </div>
    </div>
</section>
